:root {
    // Colors
    --color--cyan: #1B7280;
    --color--white: #fff;
    --color--whitish: #ECE8EF;
    --color--pinkish: #E43F6F;
    --color--black: #000;
    --color--gray: #777;

    // Spacers
    --spacer: 12px;
    --spacer16: 16px;
    --gutter: 24px;

    // fonts
    --font-size-title: 100px;
    --font-size-subtitle: 32px;
    --font-size-normal: 18px;


}
