.fruit {
    display: flex;
    flex-direction: column;
    
}

.card {
    margin: 20px;
    .card-img-top {
        width: 178px;
        height: 150px;
    }
}



@media only screen and(max-width:500px) {

    .row.fruit-list {
        margin: 0 auto;
    }

    .fruit {
        width: 350px;
        text-align: center;
        margin: 0 auto;
        .card-img-top {
            margin: 0 auto;
        }
    }
}