@import '../_sass/abstracts/index';
@import '../_sass/vendor/index';

.page--home {
    .card {
        margin: 50px 0px
    }
    .btn.btn-primary.white {
        a {
            color: white!important;
        }
    }
}


@media only screen and(max-width: 500px) {
    .card-text {
        img {
            width: 100%;
        }
    }
}