.shopping__basket {
    margin: 100px auto;
}

@media only screen and(max-width:500px) {
    .shopping__basket {
        width: 100%;
    }
    table.table.table-hover {
        display: flex;
        flex-direction: column;
    }
}