@import '../../_sass/app.scss';

header {
    height: 195px;
    .header__top__contact {
        background-color: $color-cyan;
        height: 40px;
        display: flex;
        flex-direction: row;
        list-style: none;
        color: $color-white;
        position: relative;
        justify-content: space-evenly;
        z-index: -1;
        .nav__item {
            padding: 10px;
            a.nav-link {
                margin-top: 14px;

                a {

                }
            }
        }
    }
    
    .navigation {
        border: 1px solid var($color-gray);
        background: rgb(255,255,255);
        font-family: 'Avenir Next';
        font-weight: 500;
        color: var($color-cyan);
        display: flex;
        flex-direction: row;
        position: relative;
        margin-right: 40px;
        .logo {
            width: 98px;
            margin-left: var($gutter);
        }
        .navigation__list {
            display: flex;
            flex-direction: row;
            list-style: none;
            height: fit-content;
            justify-content: space-between;
            width: 40%;
            margin-top: $gutter;
            .social {
                display: flex;
                flex-direction: row;
                padding: 5px;
                width: 150px;
                justify-content: space-evenly;
                font-size: 30px;
                color: $color-cyan;
            }
            .nav__item {
                justify-content: space-between;
                a {
                    text-decoration: none;
                    color: var($color-cyan);
                }
            }
        }
    }
    
    .header__top__bottom {
        background-color: var($color-cyan);
        height: 40px;
    }
}
